.P-minecraft
    h1
        padding: 20px 0
        font-size: 30px
        color: #fff
        background: #67C23A
        text-align: center

.P-minecraft-intro
    padding-top:10px

    div
        font-size: 20px
        padding: 2px 20px
